h1{
	color:red;
	background-color:yellow;
}
h2{
	font-size:30px;
	border:15px dashed;

}
h3{
	color:purple;
	border:20px solid red;
}
.head4{
	font-size:25px;
	color:blue;

}
.red{
    border:20px solid red ;
}
#heading{
	font-size:40px;
	color:black;
}
div{
	width:200px;
	height:100px;
	background-color:yellow;

}
div{
	width:200pt;
	height:100pt;
	background-color:black;
}
div{
	width:50em;
	height:50;
	background-color:#000000;
}
div{
	width:50%;
	height:5;
	background-color:rgba(178,12,0,.5);
}
.about1{
	font-size:50px;
	color:red;
}

/*cssstyle*/
.head2{
	border:10px dashed;
}
audio{
	width:200px;
	height:100px;
}
.button1{
	background-color:red;
	border-width:30;
	color:white;
}
.button2{
	background-color:green;
	border-width:30;
	color:white;
}